<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
			Informacje o atrybucie
			</div>
			<div class="panel-body">
				<strong>Nazwa: </strong><%= @attribute.name %>
			</div>
			<div class="panel-footer">
				<%= link_to "Lista atrybutów" , publication_attributes_path , class: "label label-primary" %>
			</div>
		</div>
	</div>
</div>