<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
			Informacje o atrybucie
			</div>
			<div class="panel-body">
				<strong>Nazwa: </strong><%= @attribute.name %>
				<br><br>
				<div>
					<%= link_to "Lista atrybutów" , publication_attributes_path %>
				</div>
			</div>
		</div>
	</div>
</div>