<% if @subtype.get_attributes.any? %>
	<form id="attributes_form" role="form">
		<% @subtype.get_attributes.each do |a| %>
			<div class="form-group">
				<label><%= a.name %></label>
				<input class="attribute_value form-control" type="text"
					   name = "<%= a.id %>" required >
			</div>
		<% end %>
	</form>
<% else %>
	Brak dodatkowych parametrów do uzupełnienia
<% end %>