<% if @subtype.get_attributes.any? %>
	
		<% @subtype.get_attributes.each do |a| %>
			<div class="form-group">
				<label><%= a.name %></label>
				<input class="attribute_value form-control" type="text"
					   name = "attribute[<%= a.id %>]" required 
					   value = "<%= @values[a.id] %>" >
			</div>
		<% end %>
	
<% else %>
	Brak dodatkowych parametrów do uzupełnienia
<% end %>

