
<%= bootstrap_form_for(@publication) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'simple_form' , locals: {f: f} %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'additional_attr' %> 
    </div>
  </div>
  <%= f.submit "Zapisz" %>
<% end %>
<!--  -->
<script>
$("#publication_authors_id").chosen({
	width:"100%",
	placeholder_text_multiple: "Wybierz autorów"
});
$("#publication_publication_subtype_id").chosen({
	width:"100%"
})
</script>