 <ol>
<% @publications.each do |p| %>
   		 <li> <%=p.biblio_authors%>, <q> <i><%=p.title%> </i> </q>,
   		  <%=p.created_at.year%>, <%=p.publication_subtype.full_name%> 
   		 </li>
    
<% end %>
</ol>
