<% if params[:format] && params[:format] == 'pdf' %>
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
<% else %>
  <%= stylesheet_link_tag 'application' %>
<% end %>

<div class="document" style="margin:30px 50px 10px 50px">
<h1 ><img src="http://www.robo.prz-rzeszow.pl/KIA-LOGO.GIF"> Lista publikacji </h1>
    <%= render :partial => 'publications/showpublist.html.erb' %>
</div>