<div class="panel-heading">
		Dodano autora
</div>
<div class="panel-body">
	Użytkownik: <strong><%= link_to activity.owner.full_name , activity.owner.author %> </strong>
	dodał nowego  autora:
	 <strong>
		<% if activity.trackable %>
			<%= link_to activity.trackable.full_name , activity.trackable%>.
		<% else %>
			<%= activity.info %>
		<% end %>
	</strong>
</div>
<div class="panel-footer">
	<%= time_ago_in_words(activity.created_at) %> ago
</div>