
<div class="panel-body">
	<span class="pull-right label label-primary">
		<%= time_ago_in_words(activity.created_at) %> ago
	</span>
	Użytkownik: <strong><%= link_to activity.owner.full_name , activity.owner.author %> </strong>
	usunął autora: <strong><%= activity.info %></strong>
</div>
