<div class="panel-body">

		<span class="pull-right label label-primary">
			<%= time_ago_in_words(activity.created_at) %> ago
		</span>
		Użytkownik <strong><%= link_to activity.owner.full_name , activity.owner.author if activity.owner %> </strong>
		edytował  publikację. 

		<% if activity.trackable %>
		<div class="well well-sm">
			<%= activity.trackable.biblio_authors %>, <i><q><%=activity.trackable.title %></q></i>
		</div>
		<% end %>
</div>