<h1>Edycja - <%= @publication_type.name %></h1>

<div class = "row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= render 'form' %>
			</div>
			<div class="panel-footer">
				<%= link_to 'Back', publication_types_path %>
			</div>
		</div>
	</div>
</div>